  <!--Category or stand selection view-->
  <div>
    <br />
    <label>Click On Stand</label>
    <br />
    <div class="col-xs-12 text-center">

      <div class="container-fluid mapdesign">

        <div class="row">

          <div class="col-xs-3 firstrow black" id="A1L" ng-style="set_color('A1 Lower')" ng-click="open('sm','A1 Lower')">
            A1 Lower
          </div>

          <div class="col-xs-3 firstrow" ng-style="set_color('A2 Lower')" ng-click="open('sm','A2 Lower')">
            A2 Lower
          </div>

          <div class="col-xs-3 firstrow" ng-style="set_color('A3 Lower')" ng-click="open('sm','A3 Lower')">
            A3 Lower
          </div>

          <div class="col-xs-3 firstrow" ng-style="set_color('A4 Lower')" ng-click="open('sm','A4 Lower')">
            A4 Lower
          </div>

        </div>

        <div class="row">

          <div class="col-xs-3 secoundrow" ng-style="set_color('Side View, End Zone-1')" ng-click="open('sm','Side View, End Zone-1')">
            Side View, End Zone-1
          </div>

          <div class="col-xs-6 secoundrow black">

            <div class="row">
              <div class="col-xs-10 col-xs-offset-1  secoundrow-sub" ng-style="set_color('VVIP1')" ng-click="open('sm','VVIP1')">
                VVIP1
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12  secoundrow-sub">
                Field Of Play
              </div>
            </div>
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1  secoundrow-sub" ng-click="open('sm','VVIP2')" ng-style="set_color('VVIP2')">
                VVIP2
              </div>
            </div>
          </div>

          <div class="col-xs-3 secoundrow" ng-click="open('sm','Side View, End Zone-2')" ng-style="set_color('Side View, End Zone-2')">
            Side View, End Zone-2
          </div>

        </div>

        <div class="row">

          <div class="col-xs-3 thirdrow" ng-click="open('sm','B1 Lower')" ng-style="set_color('B1 Lower')">
            B1 Lower
          </div>

          <div class="col-xs-3 thirdrow" ng-click="open('sm','B2 Lower')" ng-style="set_color('B2 Lower')">
            B2 Lower
          </div>

          <div class="col-xs-3 thirdrow" ng-click="open('sm','B3 Lower')" ng-style="set_color('B3 Lower')">
            B3 Lower
          </div>

          <div class="col-xs-3 thirdrow" ng-click="open('sm','B4 Lower')" ng-style="set_color('B4 Lower')">
            B4 Lower
          </div>

        </div>
        <br />
        <div class="row">
          <div input type="button" class="col-xs-2 avaistand">

          </div>
          <div class="col-xs-4">
            <label>Available Stand </label>
          </div>

          <div input type="button" class="col-xs-2 soldstand">

          </div>
          <div class="col-xs-4">
            <label> Sold Stand </label>
          </div>

        </div>
      </div>
    </div>